.row
	.col-md-4
		form(name="money")
			.input-group.input-group-lg(ng-class="!money.input.$valid ? 'has-error' : ''")
				span.input-group-addon $
				input.form-control(type="number", name="input", min="0", step="any", \
					ng-model="input.amt", ng-pattern="/^[0-9]*(?:\.[0-9]{2})?$/", ng-required="true")
				span.input-group-btn
					button.btn(ng-class="!money.input.$valid ? 'btn-danger' : 'btn-default'", \
						ng-disabled="!money.input.$valid", ng-click="submit()") Go
	.col-md-offset-2.col-md-6
		div(ng-bind="input.amt")
