nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand Alpharithm
        p.navbar-text.navbar-right Using NEAT algorithms to optimize currency exchanges for profit.
